/*##############
####General#####
##############*/

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

html, body {
	height:100%;
	overflow-x: hidden;
}

/*#############
####Slider#####
#############*/

#slider {
	height:35%;
	background-color:#262626;
}

#slider-wrapper div, #slider div {
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#slider-wrapper {
	width:100%;
	height:100%;
	position: relative;
}

#filter {
	width:100%;
	height: 100%;
	position:absolute;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.3);
	z-index: 2;
}

#slider h1, #slider h2, #slider p{
	color:white;
	font-family: 'Fjalla One', sans-serif;
	margin:0 8%;
	z-index: 3;
}

#slider h1, #slider h2 {
	font-size: 3rem;
}

#slider p {
	margin-top: 10px;
	font-size: 1.5rem;
}

#prev, #next {
	position:absolute;
	display:flex;
	align-items: center;
	font-size: 2rem;
	height:4vw!important;
	width:4vw;
	background-color: rgba(250,250,250,0.2);
	border-radius: 50%;
	z-index: 10;
	transition: .5s;
}

#prev:hover, #next:hover, #pause:hover, #play:hover {
	background-color: rgba(250,250,250,0.9);
}

#prev {
	left:2%;
}

#next {
	right:2%;
}

#pause, #play {
	position: absolute;
	display: flex;
	align-items: center;
	font-size: 1rem;
	height: 2vw!important;
	width: 2vw;
	background-color: rgba(250,250,250,0.2);
	border-radius: 50%;
	z-index: 10;
	transition: all .5s;
	top:5%;
}

#pause {
	right:2%;
}

#play {
	right:5%;
}

#pause-feedback, #play-feedback {
	position:absolute;
	align-items: center;
	font-size:5rem;
	width:7vw;
	height:7vw!important;
	background-color: rgba(250,250,250,0.9);
	border-radius: 50%;
	z-index:10;
	left: calc(50% - 2vw);
}

.slide{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

[id="1"] {
	background-image: url('https://static.actu.fr/uploads/2014/11/cyclic1.JPG');
	background-size: cover;
	background-position: center;
}

[id="2"] {
	background-image: url('https://france3-regions.francetvinfo.fr/normandie/sites/regions_france3/files/styles/top_big/public/assets/images/2018/09/05/img_8910-3828354.jpg?itok=qQwlcoTf');
	background-size: cover;
	background-position: bottom left;
}

[id="3"] {
	background-image: url('https://france3-regions.francetvinfo.fr/paris-ile-de-france/sites/regions_france3/files/styles/top_big/public/assets/images/2018/03/15/87d0f236-2716-4e1e-aaaa-7d0af709ede3-3558487.jpg?itok=Py9gBdux');
	background-size: cover;
	background-position: bottom left;
}

#progress-bar {
	position: absolute;
	display: inline-flex;
	z-index: 10;
	width:100%;
	height:2vw!important;
	bottom:5%;
}

#slide0, #slide1, #slide2 {
	position: absolute;
	height:2vw!important;
	width:2vw;
	border-radius: 50%;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	font-family: 'Fjalla One', sans-serif;
	background-color: rgba(250,250,250,0.2);
}

#slide0 {
	left:42%;
}

#slide1 {
	left:47%;
}

#slide2 {
	left:52%;
}

/*##############
####Booking#####
##############*/

#main-content {
	height:60%;
}

#map {
	height:100%;
	background-color: blue;
}

#station-infos {
	position: relative;
	height:100%;
	padding:1% 1%;
}

#no-station {
	position:absolute;
	display:flex;
	justify-content: center;
	align-items: center;
	top:0;
	right:0;
	height:100%;
	width:100%;
	z-index: 1;
	background-color: #262626;
	transition: all .3s ease;
}

#station-infos div{
	color:#262626;
	opacity:1;
	transition: all .3s ease;
}

#station-header, #station-address {
	margin-left:2px;
}

#no-station-text {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.7em;
	color:white;
	display:block;
	transition:all .2s ease;
}

#station-title {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.8rem;
	color: #262626;
	margin-bottom: 3px;
}

#station-status {
	font-family: 'Fjalla One', sans-serif;
	color: #262626;
	font-size: .8rem;
	margin-top: 3px;
	margin-left:3px;
}

#station-address {
	font-family: 'Fjalla One', sans-serif;
	color: #262626;
}

#avail-infos {
	font-family: 'Fjalla One', sans-serif;
	color:#262626;
	margin-top: 20px;
}

#avail-stands, #avail-bikes {
	float:left;
	font-size: 4rem;
	margin-right:5px;
	margin-top: -15px;
}

#signature {
	width:300px;
	border:1px solid rgba(0,0,0,.1);
	height:200px;
}

#book {
	font-family: 'Fjalla One', sans-serif;
	color:#262626;
	font-size: 1.5rem;
}

/*################
####Reservation###
######Footer######
################*/

#reservation-status {
	display: flex;
	align-items: center;
	height:5%;
	background-color: #262626;
	color:white;
	font-family: 'Fjalla One', sans-serif;
}

#reservation-status p {
	margin:auto 2%;
}


