.container-fluid {
	position:relative;
}

/*#############
####Slider#####
#############*/

#slider h1, #slider h2 {
	font-size: 1.5rem;
}

#slider p {
	margin-top: 10px;
	font-size: 0.8rem;
}

#prev, #next {
	font-size: 1rem;
	height:4vw!important;
	width:4vw;
	background-color: transparent;
	color:white;
}

#prev:hover, #next:hover {
	background-color: transparent;
}

#pause, #play {
	font-size: 0.8rem;
	background-color: transparent;
	color:white;
}

#pause {
	right:3%;
}

#play {
	right:9%;
}


/*##############
####Booking#####
##############*/

#no-station {
	display: none;
}

#station-title {
	font-size: 1.2rem;
	margin: 5px 0 3px 3px;
}

#station-status {
	font-size: .5rem;
	margin-top: 3px;
	margin-left:3px;
}

#station-address {
	font-size: .8rem;
	margin-left: 3px;
}

#avail-infos {
	font-size: .7rem;
}

#avail-stands, #avail-bikes {
	font-size: 3rem;
}

#signature {
	width:300px;
	border:1px solid rgba(0,0,0,.1);
	height:200px;
}

#book {
	font-size: 1.2rem;
	margin-left: 3px;
}

#submit {
	margin-bottom: 5vh;
}

/*################
####Reservation###
######Footer######
################*/

#reservation-status {
	position: fixed;
	height:5vh;
	width: 100%;
	bottom:0;
	z-index: 1000;
	font-size: 0.6rem;
}

#reservation-status p {
	margin:auto 2%;
}